<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
      
  <title>1x1 pixel test</title>
</head>
<body>
    <h2>Here's the full request:</h2>
  <p>
    <%= resources %>
  </p>
</body>










